@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #222;
}

.bg {
  background: url('https://images.unsplash.com/photo-1558788353-f76d92427f16?auto=format&fit=crop&w=2100&q=80') 
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(30px);
  transition: filter 0.3s ease;
}


.loading-container {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 10px #ffb6ff;
}

.loading-text {
  opacity: 1;
  transition: opacity 0.3s ease;
}
